version: '3'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks: 
      - webhook.slack-network

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks: 
      - webhook.slack-network

  consumer:
    image: furstlevy/fiap_webhook_slack_worker:latest
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      KafkaServer: "kafka:29092"
      KafkaTopic: "69aoj"
      SlackBaseUrl: "https://hooks.slack.com"
      SlackServiceUrl: "/services/TNXJWU7L0/BQAATG132/Vxw33doNqBHUT9UfS5KcWiBd"
    command: dockerize -wait tcp://kafka:9092
    depends_on:
      - kafka
    networks: 
      - webhook.slack-network

  mysqlsrv_chamados:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "chamados"
    ports:
      - "3307:3306"
    networks: 
      - webhook.slack-network

  mysqlsrv_usuarios:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "usuario"
    ports:
      - "3308:3306"
    networks: 
      - webhook.slack-network

  chamados:
    build: 
      context: ./srv-chamados/
      dockerfile: ./Docker/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - kafka
      - mysqlsrv_chamados
    networks: 
      - webhook.slack-network
    
  usuarios:
    build: 
      context: ./srv-usuario/
      dockerfile: ./Docker/Dockerfile
    ports:
      - "8181:8181"
    depends_on:
      - kafka
      - mysqlsrv_usuarios
    networks: 
      - webhook.slack-network

networks: 
  webhook.slack-network:
    driver: bridge
